// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$black: #000000;
$white: #ffffff;
$white2: #e1e1e1;
$white3: #F1F1F2;
$blue: #00135E;
$blue2: #003846;
$purple: #4245a0;
$mustard: #A97C50;
$mustard2: #8B5E3C;
$mustard3: #ce8a2d;
$extralightGray: #dddede;
$lightGray: #808285;
$gray: #7d7d7d;
$darkGray: #414042;
$green: #809E47;
$yellow: #f0ad4e;


// Fonts
@font-face {
    font-family: "montserratbold";
    src: url("../font/montserrat-bold_0-webfont.woff2") format("woff2"),
        url("../font/montserrat-bold_0-webfont.woff?") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserratsemibold";
    src: url("../font/montserrat-semibold-webfont.woff2") format("woff2"),
        url("../font/montserrat-semibold-webfont.woff?") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat medium 2 italic";
    src: url("../font/montserrat-mediumitalic-webfont.woff2") format("woff2"),
        url("../font/montserrat-mediumitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserratmedium";
    src: url("../font/montserrat-medium-webfont.woff") format("woff2"),
        url("../font/montserrat-medium-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../font/montserrat-light-webfont.woff") format("woff2"),
        url("../font/montserrat-light-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserratextralight";
    src: url("../font/montserrat-extralight-webfont.woff") format("woff2"),
        url("../font/montserrat-extralight-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
