// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


body {
    font-family: montserratregular, Arial;
    h1, h2, h3, h4, h5, h6 {
        color: $blue;
    }
}
p {
    font-size: 0.92em;
    line-height: 1.57em;
}

.initial-load {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20;
    background-color: white;
}
.alferza-fade {
    background: transparent;
    animation: fadebackground 2s;
}

@keyframes fadebackground {
    from {background-color: $white;}
    to {background-color: transparent;}
}

header {
    .main-logo {
        height: 70px;
    }
    .navbar-toggler {
        border: none;
        i {
            color: $blue;
        }
    }

    .main-navbar {
        width: 320px;
        right: 0;
        position: absolute;
        z-index: 9;
        background-color: rgb(241 241 241 / 87%);
        top: 80px;

        .nav-item {
            border-bottom: 2px solid $white;

            a.nav-link {
                color: $blue;
                padding: 1.2em 3em .9em 0;
                font-size: 0.8em;
                font-weight: bold;
            }

            &:last-child {
                border-bottom: none;
            }

            .sub-nav-menu {
                a {
                    color: $blue;
                    padding: 0.8em 4.4em;
                    font-size: .75em;
                    font-family: "Montserrat Light";
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }
}

#carousel-home {
    .carousel-indicators {
        button {
            width: 15px;
            height: 15px;
            background-color: $purple;
            opacity: 1;

            &.active {
                background-color: $white;
            }
        }
    }
    .carousel-item {
        img {
            width: 100%;
        }
    }
}

main {
    background-color: $white3;
}

.home {
    &-whatsapp {
        display: inline-block;

        &__fill {
            padding: 5px 20px 20px;
            background: url("../img/bg-whatsapp.png") no-repeat 0 0;
            background-size: contain;
            width: 132px;
            z-index: 3;

            i {
                color: $white;
            }
        }

        &:hover .home-whatsapp__contact {
            transform: translateX(330px);
        }

        &__contact {
            background: $white url("../img/checks.png") no-repeat 300px -1px;
            background-size: contain;
            bottom: 15px;
            left: -13.5em;
            padding: 0 3em;
            font-family: "Montserrat medium 2 italic";
            font-size: 1.4em;
            transition: transform 300ms;
        }
    }

    &-trayectoria {
        margin-top: -0.5em;
        padding-bottom: 5em;

        &__alferza {
            align-self: center;
            letter-spacing: 8px;
            margin-right: 25px;
        }

        .splide {
            &__slide {
                margin: 10px 20px;
                border: 1px solid $darkGray;
                text-align: center;

                a {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    text-decoration: none;
                    box-shadow: 3px 3px 5px $gray;
                }

                .home-links__inner-title {
                    margin-top: auto;
                }
            }

            &__pagination__page {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin: 2rem 10px 0;
                background-color: $gray;
                border: none;

                &.is-active {
                    background-color: $purple;
                }
            }
        }
    }

    &-links {
        height: 239px;
        padding-right: 4em;
        position: relative;
        z-index: 4;
        border-bottom: solid 1px black;
        margin-top: 3em;
        padding-top: 5px;
        overflow: hidden;
        background: url("../img/bg_Alferza.png") no-repeat left center;
        background-size: contain;

        &__box {
            width: 120px;
            height: 358px;
            position: relative;
            overflow: hidden;
            transform: rotate(24deg);
            top: -62px;
            margin-left: 13px;
            margin-right: 5px;
            transition: all, 0.2s linear;
            background-color: $white3;

            &:hover, &.active {
                width: 150px;
                box-shadow: 0 0 10px #555;

                .home-links__inner {
                    width: 306px;
                    height: 235px;
                    bottom: 65px;
                    left: -72px;
                    box-shadow: 0 0 10px #555;
                    background-image: none !important;

                    >img {
                        display: none;
                    }

                    .home-links__inner-title {
                        display: block;
                    }
                }
            }
        }
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: rotate(-24deg);
            height: 200px;
            width: 260px;
            background-image: url(../img/fondo_nubes.jpg);
            background-size: cover;
            background-position: 50% 50%;
            overflow: hidden;
            color: $white;
            position: absolute;
            bottom: 64px;
            left: -61px;

            img {
                height: inherit;
            }

            &-title {
                display: none;
                color: $blue;

                h3 {
                    width: 155px;
                    height: 62px;
                    margin-right: 11px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    margin-top: 5px;

                    &.emmel, &.emmel-ii {
                        height: 72px;
                        margin-right: 26px;
                    }
                }
                h4 {
                    position: absolute;
                    bottom: 0;
                    left: -54px;
                    background-color: $blue;
                    color: #e2e2e2;
                    width: 100%;
                    right: 0;
                    padding-top: 9px;
                    font-size: 1em;
                    padding-bottom: 6px;
                    font-weight: bold;
                }
            }
        }
    }

    .familias {
        background-color: $white;
        padding-bottom: 3rem;

        &__info {
            h3 {
                color: #004b96;
            }
            p {
                color: $black;
            }
        }
    }

    .testimonial {
        &__content {
            box-shadow: 12px -7px 48px -6px #000a3c inset;
            background-color: #004b96;
            color: $white;
            border-radius: 30px;
            padding: 25px 25px 20px;
            z-index: 2;
            position: relative;

            p {
                font: .89em/1.4rem montserratextralight;
            }
        }
        .position-relative {
            i {
                display: block;
                width: 15px;
                height: 15px;
                background-color: #000a3c;
                position: absolute;
                left: 50%;
                bottom: -7px;
                transform: translateX(-50%) scaleX(.75) rotate(45deg);
                z-index: 1;
            }
        }

        &__footer {
            &-image {
                img {
                    width: 90px;
                }
            }

            &-cite {
                h6 {
                    color: $black;
                }
                p {
                    color: $gray;
                }
                i {
                    color: $yellow;
                }
            }
        }

    }

    .splide-testimonios {
        .splide__slide {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .splide__pagination {
            display: none;
        }
    }

    .socios {
        background-color: $black;

        h3 {
            color: $white;
            margin-bottom: 4rem;
        }

        .splide-socios {
            .splide {
                &__slide {
                    margin-left: 50px;
                    margin-right: 50px;
                    text-align: center;

                    img {
                        height: 130px;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);

                        &:hover {
                            -webkit-filter: none;
                            filter: none;
                        }
                    }
                }
                &__pagination {
                    display: none;
                }
            }
        }
    }
}

.about-us {
    background-color: $white;

    .about-content {
        padding-top: 1em;
        padding-bottom: 3em;

        &__first-lead {
            margin-top: 3em;
            text-align: justify;

            .first-p {
                color: $gray;
                font: 0.92em/1.57 "Montserrat Light";
            }
            .second-p {
                font-size: 1.1em;
            }
            .exp {
                font: 1.5em montserratextralight;
            }
            .new-generation {
                color: $mustard;
                font-size: 1.09em;
            }
            .proy {
                font-size: 1.4em;
                color: $blue;
            }
            .new-generation,
            .proy {
                font-family: montserratsemibold;
            }
            h6 {
                color: $lightGray;
            }
        }
        .staff {
            h4 {
                line-height: .7em;

                span {
                    font-family: montserratextralight;
                }

                strong {
                    font-size: .8em;
                }
            }
            p {
                color: $gray;
                font-size: .95em;
            }
            .badge {
                background-color: $extralightGray;
                color: $blue;
            }
        }
    }

    #accordionPoliticaIntegrada {
        button{
            &.collapsed {
                .ocultar {
                    display: none;
                }
                .mostrar {
                    display: inline-block;
                }
            }

            .ocultar {
                display: inline-block;
            }
            .mostrar {
                display: none;
            }
        }
    }
}

.work-us {
    .sub-title {
        font: 1.38em montserratbold;
        border-bottom: 1px solid $white2;
        padding-top: 1.4em;
        padding-bottom: 1.4em;
    }
    &__container {
        background: url("../img/fondo_numeros.jpg") no-repeat center center;
        background-size: cover;
    }
    &__why {
        border-bottom: 1px solid $white2;

        &__container {
            background: linear-gradient($white, $white3);
        }
    }
    &__list {
        li {
            display: flex;
            align-items: center;
            font-size: 1.18em;
            height: 74px;

            &:nth-of-type(odd) .number {
                color: $mustard;
            }

            .number {
                font: 5rem montserratextralight;
                color: #d1d3d4;
            }
        }
    }
}

.alferza-form {
    .label {
        color: $mustard2;
    }
    .form-check-label {
        color: $darkGray;
        font-size: 13px;
    }
}


.consultant {
    h1 {
        margin-top: 1.5rem;
    }
    &__lead {
        text-align: justify;
    }
    &__list {
        &-block {
            position: relative;
            z-index: 1;

            &:hover {
                .consultant__list-profile {
                    z-index: 6;
                    opacity: 1;
                }
            }
        }

        &-img {
            height: 280px;
            width: 100%;
            background-color: #333;
            background-size: contain;
            background-position: center top;
            background-repeat: no-repeat;
            border: 1px solid $white2;
            z-index: 4;
            position: relative;
        }

        &-profile {
            background-color: $white2;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            transition-property: opacity;
            transition-duration: 0.3s;
            transition-timing-function: linear;
            opacity: 0;

            h4 {
                line-height: .4em;
            }

            span:first-child {
                font: .9em "Montserrat Light";
            }

            p {
                color: #555;
                text-align: justify;
                font-size: 0.78em;
                line-height: 1.3em;
            }
        }
    }
}

.projects {
    position: relative;

    .position-isotipo {
        background-position: 146px;
    }

    &-bg {
        background: linear-gradient(-63deg, $white3 0%, $white3 66.2%, transparent 0);
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
    }

    .container-xl {
        margin-top: 2em;

        .first-lead {
            text-align: justify;
            font-size: 15px;
            color: $darkGray;
            margin-bottom: 6em;
        }

        .nuevo {
            &-headers {
                font-size: 9px;

                h5 {
                    margin-bottom: 5px;
                }
                p {
                    margin-bottom: .75rem;
                }
            }
            >div {
                font-family: 'montserratmedium';
                width: 130px;

                h5 {
                    small {
                        font-size: .65rem;
                    }
                }
                p {
                    color: $darkGray;
                }
            }
            &-location {
                text-transform: uppercase;
                font-size: 9px;
                letter-spacing: .03em;
            }
            &-price {
                font-size: 13px;
                letter-spacing: .05em;
            }
        }

    }

    .home-links__box {
        width: 128px;
        &:hover {
            width: 152px;
        }
    }

    .testimonios {
        h2 {
            font-family: montserratbold;
            font-size: 1.45em;

            &:first-child {
                letter-spacing: 7px;
            }
            &:last-child {
                color: #6D6E71;

                strong {
                    color: $blue;
                }
            }
        }
        hr {
            background-color: $white;
            height: 3px;
            opacity: 1;
        }

        &-list {
            padding-bottom: 5em;
        }

        &-item {
            padding: 15px 25px;
            background-color: $white;

            h5 {
                font: 15px montserratsemibold;
                margin-bottom: 2px;
            }
            span {
                font: 15px montserratmedium;
            }
            p {
                color: $darkGray;
                font: 15px/24px montserratmedium;
            }

            &__separator {
                position: absolute;
                width: 100px;
                height: 4px;
                background-color: #1B1C45;
                transform: rotate3d(1, 3, 8, 117deg);
                top: 23px;
                right: -15px;
            }
        }
    }
}

.detail-project {
    background-color: $white;

    &__description {
        h5 {
            color: $white;
            font: 18px/20px montserratbold;
        }

        >p {
            font-size: 15px;
            color: $darkGray;
            line-height: 24px;
            margin-top: 1.5rem;
        }

        .table-description {
            background-color: #f1f2f2;
            color: #3d453b;
            font: 14px/20px montserratmedium;
            position: relative;

            .apartment-detail {
                p {
                    margin-bottom: 0;
                }
            }

            .bor {
                border-right: 4px solid $white;
            }
            .borl {
                border-right: 4px solid $white;
                border-left: 4px solid $white;
            }
            .bot {
                border-top: 4px solid $white;
            }
            .bg-right {
                background: url("../img/fondo_detalles.png") no-repeat right 0px;
                top: 0;
                height: 100%;
                width: 134px;
                right: 0;
                background-size: contain;
            }
            .bg-left {
                background-repeat: no-repeat;
                background-position: left 0px;
                top: 0;
                height: 100%;
                width: 134px;
                left: 0;
                background-size: contain;
            }
        }
    }

    &__gallery {
        border-bottom: 1px solid #e6e7e8;

        .images {
            height: 700px;
        }
        .slider-arrow {
            height: 100%;
            z-index: 9;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 0 7px;
            top: 0;
            cursor: pointer;
        }
        .slider-arrow {
            &.arrow-left {
                left: 0;
            }
            &.arrow-right {
                right: 0;
            }
            img {
                height: 34px;
            }
        }

        .benefits {
            &-block {
                display: flex;
                flex-direction: column;
                height: 68px;
                align-items: center;

            }

            &-title {
                font: 12px montserratmedium;
                color: $darkGray;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }

    &__apartment-plans {
        border-bottom: 1px solid #e6e7e8;

        .carousel-indicators {
            margin-bottom: 0;

            button {
                background-color: #767a73;
                width: 16px;
                height: 16px;
                margin: 0 10px;
                opacity: 1;

                &.active {
                    background-color: $mustard3;
                }
            }
        }
        .carousel-caption {
            color: #3F453A;
            left: 2.8em;
            right: initial;
            bottom: 9px;

            h6 {
                color: $mustard3;
                font: 16px 'montserratsemibold';
                letter-spacing: 1px;
                margin: 0 20px;
            }
            h4 {
                color: $mustard3;
                font: 5.6rem/.8em 'montserratsemibold';
                margin-bottom: 13px;
            }
            div {
                line-height: 1.2em;
                position: relative;

                &::before {
                    content: "";
                    height: 1px;
                    background-color: #414042;
                    left: 0;
                    right: 0;
                    position: absolute;
                    top: 13px;
                    z-index: 1;
                }
                span {
                    background-color: white;
                    z-index: 2;
                    position: relative;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .meters {
                font: 1.5em/1em 'montserratmedium';
            }
        }
    }

    &__sponsor {
        .financing h6 {
            font-size: 0.8em;
            color: $darkGray;
        }
    }

    &.preventa, &.lanzamiento {
        .detail-project__description {
            h5 {
                background-color: $blue2;
            }
            .table-description {
                .bg-left {
                    background-image: url("../img/imagen_izquierda_preventa.png");
                }
            }
        }
        .detail-project__gallery {
            .benefits {
                color: #C5B696;
            }
        }
    }

    &.entregado {
        .detail-project__description {
            h5 {
                background-color: $green;
            }
            .table-description {
                .bg-left {
                    background-image: url("../img/imagen_izquierda_entregado.png");
                }
            }
        }
        .detail-project__gallery {
            .benefits {
                color: $green;
            }
        }
        .detail-project__sponsor {
            .alferza-btn {
                background-color: $green;
            }
        }
    }

    &.construccion {
        .detail-project__description {
            h5 {
                background-color: #3d453b;
            }
            .table-description {
                .bg-left {
                    background-image: url("../img/imagen_izquierda.png");
                }
            }
        }
        .detail-project__gallery {
            .benefits {
                color: $mustard3;
            }
        }
    }
}

.maps {
    --bs-aspect-ratio: calc(7 / 30 * 100%);
}

.calculator {
    &-caption {
        .col {
            border-right: 1px solid #ccc;
            &:last-child {
                border-right: none
            }
        }
        h5 {
            font-size: .8em;
        }
        strong {
            color: $blue;
        }
    }
}

.invierte {
    &-caption {
        bottom: 10%;
        background-color: $white;
        left: 8%;
        right: 8%;

        p {
            font-family: montserratsemibold;
        }
    }

    &-ganancias {
        p {
            text-align: justify
        }
    }
}

.blog {
    .card {
        &-main-img {
            height: 400px;
        }
        a {
            overflow: hidden;

            &:hover img {
                transform: scale(1.2);
                transition: all .5s ease;
                filter: brightness(100%) contrast(100%) saturate(0%) blur(0) hue-rotate(0deg);
            }
        }
        &-title {
            height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-body {
        a {
            text-decoration: none;
            color: $blue;
        }
    }
}

.blog-detail {
    color: $black;

    h1 {
        color: $blue;
    }

    .author {
        color: $gray;
    }

    .ql-container img {
        max-width: 100%;
        height: auto;
    }
}

.contacto {
    .contacto-info {
        background-color: $white;

        &__imagen {
            img {
                width: 220px;
            }
        }

        &__contact {
            i {
                color: $blue;
            }
            li, a {
                text-decoration: none;
                color: $black;
            }
        }
        &__redes {
            a {
                background-color: $lightGray;
                display: inline-block;
                padding: 4px 7px 2px;
                color: $white;

                &:hover {
                    transform: scale(1.1);
                    background-color: $blue;
                }
            }
        }
    }
}

.politicas-privacidad {
    p {
        color: $black;
    }
}

.libro-reclamaciones {
    color: $black;

    h5 {
        color: $green;
        font-size: 1.16em;
    }
}

.alferza-btn {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $blue2;
    color: $white;
    border-color: transparent;
    font: 1.1rem montserratmedium;
    border-radius: 2px;
    white-space: nowrap;

    &.type-1:hover {
        color: $white;
    }
    &.type-2 {
        background-color: $mustard3;
        color: $white;
    }
}

.main-title {
    font: 1.5em montserratbold;
    margin-bottom: 2.3em;
    letter-spacing: 3px;

    span {
        font-family: "Montserrat Light";
        font-weight: 100;
    }
}

#footer-widgets {
    background: url(../img/footer-bg.jpeg) no-repeat center center / cover;
    color: #999;
    font-size: 14px;

    i {
        color: $white;
    }

    a {
        color: #aaa;
        &:hover {
            opacity: .8;
        }
    }

    .libro-reclamaciones {
        a {
            text-decoration: none;
        }
    }

    .overlay {
        background-color: rgba(41,51,61,.95);
    }

    .menu-footer {
        li {
            display: inline-block;
            border-bottom: #777 1px solid;
            padding: 9px 15px;

            a {
                text-decoration: none;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .brands-socials {
        h5 {
            color: $white;
            font-size: 1.1rem;
        }
        li {
            border-radius: 3px;

            a {
                display: inline-block;
                padding: 6px 8px;
                color: $white;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

footer {
    padding-top: 15px;
    padding-bottom: 25px;
    color: #878c92;
    background-color: #1a2229;
    font: 13px montserratmedium;

    a {
        color: #878c92;

        &:hover {
            color: #3b4d5d;
            opacity: .8;
        }
    }

    .footer-alferza {
        letter-spacing: 7px;
        color: #bdbdbd;
        font-weight: 900;
        padding-top: 7px;
    }
}
a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-icon {
    background-color: $blue;
    width: 1.55rem;
    height: 1.55rem;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    font-size: 1rem;
    color: $white;

    &-sm {
        width: 1.1rem;
        height: 1.1rem;
        font-size: .7rem;
    }
}


.landing {
    background: url('../img/landing/Healthy-Eating-for-Memorial-Day-Happy-Family.jpeg') no-repeat top center fixed;
    background-size: cover;

    .form-section {
        padding-top: 32em;

        &__container {
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0 0 15px 1px rgb(0 0 0 / 38%);
            transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
            position: relative;
            z-index: 4;

            p {
                color: $black;
            }
        }
    }

    .gallery {
        &-title {
            padding: 20px;
            background-color: #000514;

            h2 {
                color: $white;
            }
        }

        &-item {
            position: relative;

            &__img {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                padding-bottom: 100%;
                position: relative;
            }
            &:hover .overlay {
                background-color: rgba(0,0,0,.2);
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
            }
        }
    }
}


@media screen and (min-width: 1400px) {
    .projects {
        .position-isotipo {
            background-position: 237px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .home-links {
        background-image: none;

        &__inner-title h4 {
            font-size: 0.9em;
            bottom: 3px;
            left: -63px;

            &.first-item {
                left: -52px;
            }
        }
    }

    .work-us__list li {
        font-size: 1em;
        height: 67px;
    }

    footer address {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 1080px) {
    .landing {
        background-size: contain;
    }
}

@media screen and (max-width: 991px) {
    .work-us__container {
        background-position: -550px 0px;
    }

    .detail-project__description .bg-right,
    .detail-project__description .bg-left {
        display: none;
    }

    .detail-project__gallery .benefits-block span {
        font-size: 12px;
    }

    .home-links__inner-title h4 {
        font-size: 1em;
        margin-top: 1rem;
    }

    .logo-footer {
        height: 80px;
    }

    .home {
        .socios {
            .splide-socios {
                .splide {
                    &__slide {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .landing {
        .form-section {
            padding-top: 21em;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .blog {
        .card-main-img {
            height: 256px;
        }
        .card-title {
            height: 58px;
            font-size: 1.1em;
        }
    }
}

@media screen and (max-width: 767px) {
    .navbar-toggler {
        margin-left: auto;
        font-size: 1em;
    }

    .bot-xs {
        border-top: 4px solid $white;
    }

    .detail-project__description .table-description .bg-left {
        display: block;
        height: 90px;
    }

    .detail-project__gallery .benefits-block span {
        font-size: 11px;
    }

    .main-title {
        font-size: 1.25em;
    }

    .maps {
        --bs-aspect-ratio: calc(22 / 30 * 100%);
    }
}

@media screen and (max-width: 575px) {
    header {
        .main-logo {
            height: 56px;
        }
        .img-portada-2 {
            width: auto;
            margin: 0;
        }

        .header-main-caption {
            width: auto;
            top: initial;
            left: 0;
            right: 0;
            padding: 1em 2em;
            margin-top: 1em;
        }
        .main-navbar {
            top: 64px;
        }
    }

    .initial-load {
        img {
            height: 140px;
        }
    }

    #carousel-home {
        .carousel-item {
            img {
                position: relative;
                width: 650px;
                right: 200px;
            }
        }
    }

    .home {
        .socios {
            .splide-socios {
                .splide__slide {
                    img {
                        height: auto;
                    }
                }
            }
        }

        &-trayectoria {
            .splide__slide {
                margin-left: 10px;
                margin-left: 10px;
            }
            .splide__pagination__page {
                width: 15px;
                height: 15px;
            }
        }

    }

    .about-content__first-lead {
        .exp {
            font-size: 1.6em;
        }
        .new-generation {
            font-size: 0.75em;
        }
        .proy {
            font-size: 0.95em;
        }
    }

    .work-us__list li {
        margin-left: 0 !important;
        font-size: 0.85em;
        line-height: 1.3em;

        .number {
            font-size: 4rem;
        }
    }

    .projects .testimonios h2 {
        font-size: 1.15em;
    }

    .calculator {
        table {
            font-size: .87rem;

            td {
                white-space: nowrap;
            }
        }
    }

    .invierte {
        &-ganancias {
            p {
                font-size: .93em;
            }
        }
    }

    .landing {

        .form-section {
            padding-top: 14em;

            img {
                height: 70px;
            }
        }
    }

    .blog {
        .card-main-img {
            height: auto;
        }
    }
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin-bottom: 1rem;
}
